body {
  font-family: "lato", sans-serif;
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

th {
  font-size: 16px;
  margin: 20px 0;
  text-align: center;
}

td {
  border-radius: 3px;
  padding: 15px 13px;
  display: inline-block;
  justify-content: space-between;
  margin-bottom: 5px;
}
.table-header {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.col-1 {
  flex-basis: 10%;
}
.col-2 {
  flex-basis: 40%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 25%;
}
